.con-1{
    width: 100%;
    
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
}
.row .col{
    margin: 20px;
    width: 100%;
    /* background-color: aqua; */
    padding: 10px;
}
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    
    
p{
    font-family: "Fredoka", sans-serif;
    text-align: justify;
    padding: 10px;
    font-size: large;
}
.con-1 .row .col img{
    width: 100%;
    height: 400px;
}
a{
    text-decoration: none;
    color: aliceblue;
}





    